<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register page</title>
</head>
<body>

<h1>register page</h1>
<a href="#">HOME</a>
<a href="#">REGISTER</a>
<a href="#">LOGIN</a>
<a href="#">Online Users</a>
<a href="#">About us</a>
<form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>

    <label for="pcheck">Confirm Password</label>
    <input type="password" name="pcheck" required>

    <input type="submit" value="Register">
</form>
<p>{{rep}}  TEST</p>


    <p>{{title}} - TEST</p>


</body>
</html>