<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register page</title>
</head>
<body>

<h1>register page</h1>

<form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>

    <label for="pcheck">Confirm Password</label>
    <input type="password" name="pcheck" required>

    <input type="submit" value="Register">
</form>
<p>{{rep}}</p>

 {% if title %}
    <p>{{title}} - microblog</p>
    {% else %}
    <p>Welcome to microblog</p>
    {% endif %}

</body>
</html>